{% extends '::base.html.twig' %}

{% block title %}City:Edit{% endblock %}

{% block ptitle %}City:Edit{% endblock %}

{% block body %}
    {{ form(form) }}
    <a href="{{ path('city.list') }}" class="btn btn-default btn-sm">Back</a>
{% endblock %}