{% extends '::base.html.twig' %}

{% block title %}City:List{% endblock %}

{% block ptitle %}City:List{% endblock %}

{% block body %}
<div>
    <a href="{{ path('city.create') }}" class="btn btn-default btn-sm">Create</a>
</div>
<table class="table table-hover">
    <thead>
    <tr>
        <th>id</th>
        <th>Title</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for item in entities %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>
            <a href="{{ path('city.edit', { 'city': item.id }) }}" class="btn btn-default btn-sm">Edit</a>
            <a href="{{ path('city.delete', { 'city': item.id }) }}" class="btn btn-danger btn-sm">Delete</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}